<%- include("partials/header.ejs") %>
    <% if(userLoggedIn === true && govLoggedIn === false){ %>
        

        <form action="/user/login/home2/infra" id="filterForm" method="post">
          <select name="state" id="stateInput">
            <% stateList.forEach(function(state){%>
            <option value=<%= state %>><%= state %></option>
            <%});%>
          </select>
      
          <select name="sector" id="sectorInput">
            <% sectorList.forEach(function(sector){%>
            <option value=<%= sector %>><%= sector %></option>
            <%});%>
          </select>
          <input type="submit" value="Filter">
        </form>

      
        <div class="album py-5 bg-body-tertiary">
          <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <% if(locals.projData){ %>
              <%projData.forEach(function(item){ %>
                      <div class="col">
                            <a href="/user/<%=item.srNo%>">
                              <div class="card shadow-sm projCard">
                                <img src="/images/<%=item.sector%>.jpg" alt="sector_img" height="300" width="300" class="imgClass">
                                <div class="card-body">
                                  <p class="card-text"><%= item.projectName%></p>
                                </div>
                              </div>
                            </a>
                          </div>
            <% }); %>
            <% }else { %>
              <h1>No data Matched</h1>
            <% } %> 
                </div>
            </div>
        </div>
    <% } else { %>
            <h1>Projects</h1>
            <a href="/addNewProject">
                <button type="submit">New Project</button>
            </a>

        <form action="/government/login/home2/infra" id="filterForm" method="post">
          <select name="state" id="stateInput">
            <% stateList.forEach(function(state){%>
            <option value=<%= state %>><%= state %></option>
            <%});%>
          </select>
      
          <select name="sector" id="sectorInput">
            <% sectorList.forEach(function(sector){%>
            <option value=<%= sector %>><%= sector %></option>
            <%});%>
          </select>
          <input type="submit" value="Filter">
        </form>

      
        <div class="album py-5 bg-body-tertiary">
          <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <% if(locals.projData){ %>
              <%projData.forEach(function(item){ %>
                      <div class="col">
                            <a href="/user/<%=item.srNo%>">
                              <div class="card shadow-sm projCard">
                                <img src="/images/<%=item.sector%>.jpg" alt="sector_img" height="300" width="300" class="imgClass">
                                <div class="card-body">
                                  <p class="card-text"><%= item.projectName%></p>
                                </div>
                              </div>
                            </a>
                          </div>
            <% }); %>
            <% }else { %>
              <h1>No data Matched</h1>
            <% } %> 
                </div>
            </div>
        </div>

    <% } %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>